<% include partials/header.ejs %>

<style type="text/css">
	input {
		width: 100%;
		height: 5vh;
		margin-top: 2%;
		padding: 2vh;
		border-radius: 24px;
		outline: none;
	}

	input:focus {
		border-color:red;
	}


</style>

<div style="padding: 5%;">
	
	<form action="/users/<%= user._id %>/places/<%= place._id %>?_method=PUT" method="POST">
		<input type="text" name="update[image]" value="<%= place.image %>" placeholder="Image" required>
		<input type="number" name="update[size]" value="<%= place.size %>" placeholder="?? BHK" required>
		<input type="number" name="update[rent]" value="<%= place.rent %>" placeholder="Rent Starting From" required>
		<input type="number" name="update[security]" value="<%= place.security %>" placeholder="Minimum Security Required" required>

		<% if(place.type == "Shared Room") { %>
			<input type="radio" style="width: 2%;" name="update[type]" value="Shared Room" checked>Shared Room
			<input type="radio" style="width: 2%;" name="update[type]" value="Private Room">Private Room
			<input type="radio" style="width: 2%;" name="update[type]" value="Full House">Full House
		<% } %>

		<% if(place.type == "Private Room") { %>
			<input type="radio" style="width: 2%;" name="update[type]" value="Shared Room">Shared Room
			<input type="radio" style="width: 2%;" name="update[type]" value="Private Room" checked>Private Room
			<input type="radio" style="width: 2%;" name="update[type]" value="Full House">Full House
		<% } %>

		<% if(place.type == "Full House") { %>
			<input type="radio" style="width: 2%;" name="update[type]" value="Shared Room">Shared Room
			<input type="radio" style="width: 2%;" name="update[type]" value="Private Room">Private Room
			<input type="radio" style="width: 2%;" name="update[type]" value="Full House" checked>Full House
		<% } %>


		
		<input type="text" name="update[locality]" value="<%= place.locality %>" paceholder="Locality" placeholder="Locality" required>
		<input type="number" name="update[area]" placeholder="Area(in sq ft)" value="<%= place.area %>" required>
		<input type="number" name="update[beds]" placeholder="Number of beds" value="<%= place.beds %>" required>
		<input type="text" name="update[openingTime]" value="<%= place.openingTime %>" placeholder="Opening Hours of place" required>
		<input type="submit" value="Create Place">
	</form>

</div>

</body>
</html>